<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink = "/" class="navbar-brand">Recipe Book</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/recipes" style="cursor: pointer;">Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/shopping-list" style="cursor: pointer;">Shopping List</a>
      </li>
    </ul>
    <ul class="nav navbar-nav my-2 my-lg-0">
      <li ngbDropdown class="nav-item dropdown mr-sm-2">
        <a ngbDropdownToggle style="cursor: pointer;" class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
        <ul ngbDropdownMenu class="dropdown-menu rounded">
          <li class="dropdown-item"><a style="cursor: pointer;" (click) = "onSavaData()">Save Data</a></li>
          <li class="dropdown-item"><a style="cursor: pointer;" (click) = "onGetData()">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>